<%= sexy_form(:ul => {:class => "ul_class"}) do %>
  <%= text_field :name => "name", 
          :label => "Label: ", 
          :before => '<span class="before"></span>', 
          :after => '<span class="after"></span>' %>
<% end =%>
